.bill {
  color: black;
  width: 500px;
  height: 690px;
  margin: auto;
  margin-top: 50px;
  padding-top: 0px;
  background: cadetblue;
  border-radius: 30px;
  box-shadow: 3px 3px 3px 3px grey;
}

.count-bill {
  width: 80%;
  height: 250px;
  margin: 25px;
  padding: 25px;
  padding-top: 20px;
  font-size: 20px;
  border-radius: 10px;
  background-color: lightgrey;
  box-shadow: 1px 2px 1px 2px grey;
}

.split-bill {
  width: 82%;
  height: 210px;
  margin: 25px;
  margin-top: 35px;
  padding: 20px;
  padding-top: 5px;
  font-size: 20px;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 1px 2px 1px 2px grey;
}

.count-bill p {
  margin: 2px;
}

.split-bill p {
  margin: 5px;
}

.select-tip p {
  margin-bottom: 0px;
}

.main-bill {
  display: flex;
  margin-bottom: 25px;
}
.main-bill p {
  padding-top: 12px;
  padding-left: 3px;
}
.tip,
.total,
.s-bill,
.s-tip {
  display: flex;
  padding-right: 15px;
  justify-content: space-between;
}

.tip-percent,
.people {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
}

.tip {
  margin-bottom: 15px;
}

p {
  font-weight: bold;
}

div {
  margin: 10px;
  padding: 2px;
}

h1 {
  text-align: center;
  padding-top: 25px;
}

input {
  width: 250px;
  height: 35px;
  margin-left: 80px;
}
