.bill {
  color: black;
  width: 500px;
  height: 700px;
  margin: auto;
  margin-top: 50px;
  background: cadetblue;
  border-radius: 30px;
  box-shadow: 3px 3px 3px 3px grey;
}

.count-bill {
  width: 80%;
  height: 270px;
  margin: 25px;
  padding: 25px;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 1px 2px grey;
}

.split-bill {
  width: 80%;
  height: 180px;
  margin: 25px;
  margin-top: 35px;
  padding: 25px;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 1px 2px grey;
}

.count-bill p {
  margin: 2px;
}

.split-bill p {
  margin: 5px;
}

.select-tip p {
  margin-bottom: 15px;
}

.share-bill p {
  margin-bottom: 15px;
}

.tip,
.total,
.s-bill,
.s-tip {
  display: flex;
  padding-right: 50px;
  justify-content: space-between;
}

h1 {
  text-align: center;
  padding-top: 25px;
}

input {
  width: 250px;
  height: 35px;
  margin-left: 80px;
}

#total {
  font-weight: bold;
  margin: 1px;
}
